*{ 
    padding: 0x; 
    margin: 0px;  
    box-sizing: border-box;
}

.slideshow-container { 
    max-width: 650px; /*Controls the size of the black margin */
    margin: auto; 
    border: 3px solid black;  
    position: relative; 
    overflow: hidden; /*controls if you can see picture outside of the container */
}

/* the size of the images*/
.slideshow-slide { 
    display: flex; 
    width: 100%;
    height: 350px; 
} 

#prevBtn { 
    position: absolute; 
    top: 150;
    z-index: 10;
    left: 5%; 
    font-size: 30px;
    color: grey;
    cursor: pointer; 
}

#nextBtn { 
    position: absolute; 
    top: 150;
    z-index: 10;
    right: 5%; 
    font-size: 30px;
    color: grey;
    cursor: pointer; 
}  

.card {  
    width: 300px;  
    height: 300px;
} 

#card-collection {   
    border-style: double;
    display: flex; 
    justify-content: space-around; 
    gap: 5px; 
    flex-wrap: wrap;
    width: 100%;
}
